{% extends 'contactsapp/main.html' %} {% load static %} {% block loading_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_edit.css' %}"> {% endblock %} {% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <form method="POST" action="">
        <div class="container">
            <header class="hero">
                {% if is_adding_a_contact %}
                <a href="{% url 'home' %}">
                    <i class="fas fa-chevron-circle-left back-btn"></i>
                </a>

                <div class="hero-info">
                    <h1 class="name">New Contact</h1>
                </div>

                {% else %}
                <a href="{% url 'contact_info' contact.id %}">
                    <i class="fas fa-chevron-circle-left back-btn"></i>
                </a>

                <!-- Show the contact with its current information -->
                <div class="hero-info">
                    <h1 class="name">{{contact.name}}</h1>
                    <h3 class="relationship">{{contact.relationship}}</h3>
                    <h5 class="phone-number">{{contact.phone}}</h5>
                </div>

                {% endif %}
            </header>
            <!-- The area for editing contact information -->
            <section class="contact-info">

                <div class="info-line">
                    <i class="fas fa-user-circle icon-gradient"></i> {{contact_form.name}}
                </div>

                <div class="info-line">
                    <i class="fas fa-phone icon-gradient"></i> {{contact_form.phone}}
                </div>


                <div class="info-line">
                    <i class="fas fa-user-circle icon-gradient"></i> {{contact_form.relationship}}
                </div>


                <div class="info-line">
                    <i class="fas fa-envelope icon-gradient"></i> {{contact_form.email}}
                </div>


                <div class="info-line">
                    <i class="fas fa-map-marker-alt icon-gradient location"></i> {{contact_form.address}}
                </div>

            </section>

            <!-- #region Errors -->
            {{contact_form.errors}}
            <!-- #endregion -->

            {% if is_adding_a_contact %}

            <!-- Add contact button -->
            <section class="button-container">
                <div class="update-contact">
                    <i class="fas fa-check-circle icon-gradient"></i>
                    <input type="submit" name="Add" value="Add">
                </div>
            </section>

            {% else %}

            <!-- Save changes button -->
            <section class="button-container">
                <div class="update-contact">
                    <i class="fas fa-check-circle icon-gradient"></i>
                    <input type="submit" name="Save" value="Save">
                </div>
            </section>

            <!-- Delete contact button -->
            <section class="button-container">
                <a href="{% url 'contact_delete' contact.id %}">
                    <div class="update-contact">
                        <i class="fas fa-trash icon-gradient"></i>
                        <button class="button" type="button">Delete Contact</button>
                    </div>
                </a>
            </section>
            {% endif %}
        </div>
    </form>
</form>

{% endblock %}