{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ivess's Contact List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- #region Additional stylesheets -->
    {% block loading_css %}
    <!-- ... -->
    {% endblock %}
    <!-- #endregion -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7898405e9.js" crossorigin="anonymous"></script>

</head>

<body>

    {% block content %} {% endblock %}

    <center><a class="btn btn-sm btn-info" href="https://github.com/IvessJohn/django-contact-list">Source on GitHub</a></td>
    </center>
</body>

</html>