<!DOCTYPE html>
<html>
<head>
    <title>Ivess's Contact List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7898405e9.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/contact_main.css' %}">

    <script>

    </script>

</head>

<body>

    <h3>Login</h3>

    

</body>
</html>