{% extends 'contactsapp/main.html' %}
{% load static %}

{% block loading_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_edit.css' %}">
{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <form method="POST" action="">
        <div class="container">
            <header class="hero">
                <a href="{% url 'home' %}">
                    <i class="fas fa-chevron-circle-left back-btn"></i>
                </a>
        
                <div class="hero-info">
                    <h1 class="name">{{contact.name}}</h1>
                    <h3 class="relationship">{{contact.relationship}}</h3>
                    <h5 class="phone-number">{{contact.phone}}</h5>
                </div>
            </header>
            <section class="contact-info">
    
                <div class="info-line">
                    <i class="fas fa-phone icon-gradient"></i>
                    {{contact_form.name}}
                </div>
    
                <div class="info-line">
                    <i class="fas fa-user-circle icon-gradient"></i>
                    {{contact_form.relationship}}
                </div>
    
            
    
                <div class="info-line">
                    <i class="fas fa-sms icon-gradient"></i>
                    {{contact_form.phone}}
                </div>
    
                
    
                <div  class="info-line">
                    <i class="fas fa-envelope icon-gradient"></i>
                    {{contact_form.email}}
                </div>
    
                
    
                <div class="info-line">
                    <i class="fas fa-map-marker-alt icon-gradient location"></i>
                    {{contact_form.address}}
                </div>
            </section>
    
            <section class="button-container">
                <div class="update-contact">
                    <button class="button-container">
                        <i class="fas fa-check-circle icon-gradient"></i>
                        <input class="btn login_btn" type="submit" value="Save">
                    </button>
                </div>
            </section>
    
            <section class="button-container">
                <a href="delete.html">
                    <div class="update-contact">
                        <i class="fas fa-trash icon-gradient"></i>
                        <button class="button">Delete Contact</button>
                    </div>
                </a>
            </section>
        </div>
    </form>
</form>

{% endblock %}