{% extends 'contactsapp/main.html' %} {% load static %} {% block loading_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_info.css' %}"> {% endblock %} {% block content %}

<div class="container">
    <header class="hero">
        <a href="{% url 'home' %}">
            <i class="fas fa-chevron-circle-left back-btn"></i>
        </a>

        <!-- The essential contact information: name, relationship (if any), and phone number -->
        <div class="hero-info">
            <h1 class="name">{{contact.name}}</h1>
            <h3 class="relationship">{{contact.relationship}}</h3>
            <h5 class="phone-number">{{contact.phone}}</h5>
        </div>
    </header>

    <section class="contact-info">

        <!-- Call/text buttons -->
        <div class="info-line">
            <a href="javascript:void(0)" title="Call"><i class="fa-solid fa-phone-flip icon-gradient"></i></a>
            <a href="javascript:void(0)" title="Text"><i class="fa-solid fa-comment-sms text icon-gradient"></i></a>
        </div>


        <!-- #region Additional information -->
        <div class="info-line">
            <i class="fas fa-envelope icon-gradient"></i>
            <p class="email">{{contact.email}}</p>
        </div>

        <div class="info-line">
            <i id="location" class="fas fa-map-marker-alt icon-gradient"></i>
            <p class="address">{{contact.address}}</p>
        </div>

        <!-- #endregion-->
    </section>

    <!-- Edit contact button (redirect to contact edit page) -->
    <a href="{% url 'contact_edit' contact.id %}" title="Edit Contact">
        <section class="edit-contact">
            <div class="edit-button">
                <i class="fas fa-cog icon-gradient"></i>
            </div>
        </section>
    </a>
</div>

{% endblock %}