{% extends 'contactsapp/main.html' %}

{% block content %}

<div class="container">
    <header class="header">
        
        {# Search form here #}
    </header>
</div>

<section class="contacts-library">
    <ul class="contacts-list">
        {% for contact in contacts %}
        <div class="contact-section">
            <li class="list__item">
                {{contact.name}}
                {{contact.relationship}}
            </li>

            <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </li>
        </div>
        {% endfor %}
    </ul>
</section>

{% endblock %}