{% extends 'contactsapp/main.html' %} {% load static %} {% block loading_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_main.css' %}"> {% endblock %} {% block content %}

<div class="container">
    <header class="header">
        <div class="row">
            <!-- Contact search -->
            <form method="get">
                <table>
                    <tr>
                        <td>
                            <p>Name: </p>
                            <div class="contact-search">{{contactFilter.form.name}}</div>
                            <p>Role: </p>
                            <div class="contact-search">{{contactFilter.form.relationship}}</div>
                        </td>
                        <td>
                            <!-- Search button -->
                            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <!-- Add contact button (redirect to contact creation page) -->
                            <a href="{% url 'contact_add' %}"><button class="btn btn-primary" type="button"><i class="fa-solid fa-user-plus"></i></button></a>
                        </td>
                    </tr>
                </table>
            </form>

            <!-- #region User-related elements -->
            <span class="hello-msg">Hello, {{request.user}}</span>
            <span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>

            <!-- #endregion -->
        </div>
    </header>

    <!-- Contact list -->
    <section class="contacts-library">
        <ul class="contacts-list">
            {% for contact in contacts %}
            <a href="{% url 'contact_info' contact.id %}">
                <div class="contact-section">
                    <li class="list__item">
                        <p class="contact-name">{{contact.name}}</p>
                        {% if contact.relationship != "" %}
                        <p class="contact-relationship">{{contact.relationship}}</p>
                        {% else %}
                        <p class="contact-relationship-no-role">NO ROLE</p>
                        {% endif %}
                    </li>

                    <li class="list__item">
                        <a href=""><i class="fa-solid fa-phone-flip"></i></a>
                        <a href="{% url 'contact_info' contact.id %}"><i class="fa-solid fa-ellipsis"></i></a>
                    </li>
                </div>
                <hr>
            </a>
            {% endfor %}
        </ul>
    </section>
</div>


{% endblock %}