{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Ivess's Contact List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7898405e9.js" crossorigin="anonymous"></script>

    {% block loading_css %}
    {# put 'link rel stylesheet bla bla bla' here to load the needed css stylesheet #}
    {% endblock %}
</head>

<body>

    {% block content %}



    {% endblock %}

</body>
</html>